* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.mainWrapper {
  width: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #FFF4D9;
}

.leftWrapper{
  min-width: 360px;
  
  margin-right: 15px;
  border-right: 1px solid #CCCCCC;
}


.home {
  padding: 30px 0 0 35px;
}
ul { list-style-type: none; }

a {
  color: #F6FFD9;
  text-decoration: none;
  font-size: 16px;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.accordion {
  
  min-width: 350px;
  margin: 30px auto 20px;
  background: #FFF4D9;
 }

.accordion li:hover {
  background-color: #F0FFAC;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }
.submenu li:last-child  { border-bottom: 1px solid #CCC; }

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #F8FFD9;
  font-size: 14px;
  height: 150px;
  overflow: scroll;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #F0FFAC;
 
}